<div id='user-feed'>
  <%= render 'month_selector' %>
  <% @years.each do |year| %>
  <div class='row'>
    <div class='year-break'>
      <%= year %>
    </div>
    <div class='year-media'>
      <ul class='user-photos'>
        <% @sorted_photos.each do |photo| %>
          <% if get_year(photo.created_time) == year %>
            <li class='small-2 large-2 columns end'>
              <div class='user-photo th' data-photo-url=<%= photo.images.standard_resolution.url %>>
              <%= image_tag photo.images.standard_resolution.url, size: '150x150' %>
                <div class='caption'><%= photo.caption.text unless photo.caption.blank? %></div>
                <div class='likes'>
                  <i class='fi-heart large'></i>
                  <%= photo.likes[:count].blank? ? "0" : photo.likes[:count] %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div id='modal-container'>
    <div id='modal'>
      <div id='modal-photo'></div>
    </div>
    <div id='modal-caption'></div>
  </div>
  <div id='overlay'></div>
  <div id='close-btn'>
    <i class='fi-x'></i>
  </div>
</div>
